* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d1cfcf;
}

#countries {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem 1rem;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
